body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.game-board {
  display: flex;
  flex: 1;
  overflow-y: auto;
  background: #002147;
}

.category-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.category-title {
  background: #004080;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 0.5rem;
  user-select: none;
}

.question-tile {
  background: #0055aa;
  margin: 0.25vw;
  text-align: center;
  padding: 20px;
  cursor: pointer;
  border: 1px solid #ffffff55;
  min-width: 12vw;
  min-height: 9vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2vw;
  user-select: none;
}

.question-tile.disabled {
  background: #1f1f1f;
  cursor: not-allowed;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content-user {
  background: #222;
  padding: 4vh;
  border-radius: 4vh;
  text-align: center;
  font-size: 8vh;
}

.modal-content-host {
  background: #222;
  padding: 4vh;
  border-radius: 3vh;
  text-align: center;
  font-size: 3vh;
}

.player-scores {
  display: flex;
  padding: 15px;
  font-size: 18px;
  justify-content: center;
  gap: 1rem;
  background: #001930;
}

.player-score-card {
  background: #003366;
  padding: 0.2rem;
  border-radius: 8px;
  margin: 0.2rem 0;
  outline: 1px solid #ffffff55;
  min-width: 15vw;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
